<!DOCTYPE html>
<html lang="en">
  {{>head}}
  <body>
    <!-- -------------------------NAVBAR------------------------------------------------------ -->
    <!-- class="d-inline-block align-top" -->
    <!-- navbar-dark bg-dark -->
    <div class="outerMost2">
      <div class="container-fluid">
        {{>navbar}}
      </div>
      <div class="weCon">
        <div class="main_content">
          <form action="" class="temp_form">
            <input
              type="text"
              id="cityName"
              placeholder="Enter Your city name"
              autocomplete="off"
            />
            <input type="submit" value="search" id="submitBtn" />
          </form>
        </div>
        <div class="tempInfo">
          <div class="top_layer">
            <p id="day">Tuesday</p>
            <p id="today_date">13 OCT</p>
          </div>
          <div class="main_layer">
            <p id="city_name">Weather Information will be shown here!</p>
            <div class="middle_layer data_hide">
              <div class="ley">
                <p id="temp_status">
                  <i id="fa-cloud"></i>
                </p>
                <p id="temp"><span id="temp_realVal">0</span> <sup>o</sup> C</p>
              </div>
              <div class="dey">
                <p>Min Temp:&nbsp; <span id="minTemp"></span><sup>o</sup> C</p>
                <p>Max Temp:&nbsp;<span id="maxTemp"></span><sup>o</sup> C</p>
                <p>Atmospheric Pressure:&nbsp; <span id="atm"></span> hpa</p>
                <p>Humidity:&nbsp; <span id="hum"></span>%</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <span id="key">{{api_key}}</span>
<!-- ----------------Footer------------------------ -->
{{>footer}}

    <!-- ------------------bootstrap js------------------ -->
    {{>bsScript}}
  {{!-- ---------------------Main js-----------------------   --}}
  <script >const submitBtn = document.getElementById("submitBtn");
const cityName = document.getElementById("cityName");
const city_name = document.getElementById("city_name");
const temp_status = document.getElementById("temp_status");
const dataHide = document.querySelector(".middle_layer");
const temp = document.getElementById("temp");
const temp_realVal = document.getElementById("temp_realVal");

const minTemp = document.getElementById("minTemp");
const maxTemp = document.getElementById("maxTemp");
const atm = document.getElementById("atm");
const hum = document.getElementById("hum");

const key = document.getElementById("key");
const weather_api_key = key.innerText;
// console.log(weather_api_key);
const getInfo = async (event) => {
  event.preventDefault();
  let cityVal = cityName.value;
  // console.log(cityVal);
  if (cityVal === "") {
    city_name.innerText = `Please enter the City name before searching`;
    dataHide.classList.add("data_hide");
  } else {
    try {
      let url = `http://api.openweathermap.org/data/2.5/weather?q=${cityVal}&appid=${weather_api_key}`;
      const response = await fetch(url);
      //   console.log(response);
      const data = await response.json();
      // console.log(data);
      const arrData = [data];
      city_name.innerText = `${arrData[0].name},${arrData[0].sys.country}`;
      let tempCelcius = (arrData[0].main.temp - 273.15).toFixed(2);
      temp_realVal.innerText = tempCelcius;
      temp_status.innerText = arrData[0].weather[0].main;
      let minTemp1 = (arrData[0].main.temp_min - 273.15).toFixed(2);
      let maxTemp1 = (arrData[0].main.temp_max - 273.15).toFixed(2);
      let pressure1 = arrData[0].main.pressure;
      let humidity1 = arrData[0].main.humidity;
      minTemp.innerText = minTemp1;
      maxTemp.innerText = maxTemp1;
      atm.innerText = pressure1;
      hum.innerText = humidity1;

      const tempMood = arrData[0].weather[0].main;
      if (tempMood == "clear") {
        temp_status.innerHTML =
          "<i class='fas fa-sun  fa-9x ' style='color:white;' ></i>";
      } else if (tempMood == "Clouds") {
        temp_status.innerHTML =
          "<i class='fas fa-cloud  fa-9x ' style='color:white;' ></i>";
      } else if (tempMood == "Rain") {
        temp_status.innerHTML =
          "<i class='fas fa-cloud-rain  fa-9x ' style='color:white;' ></i>";
      } else {
        temp_status.innerHTML =
          "<i class='fas fa-sun  fa-9x ' style='color:white;' ></i>";
      }
      dataHide.classList.remove("data_hide");
    } catch {
      city_name.innerText = "Please enter valid city name";
      dataHide.classList.add("data_hide");
    }
  }
};
submitBtn.addEventListener("click", getInfo);
</script>

    {{!-- -----------------------MonthAndDate------------------- --}}
    {{>dateMonth}}
  </body>
</html>
